{% extends 'base.html' %}
{% load static %}

{% block body %}


	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Dashboard</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a  href="#sportswear">
											<div class="dashimg">
                                                Profile Views : {{object.worker_profile.views}} times
											</div>
										</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading"style="font-style:bold;border:1px solid green;hob">
									<h4 class="panel-title"style="margin-left:70px;">
										<a  href="{% url 'profile_view' request.user.username %}">
											Profile Details
										</a>
									</h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading"style="font-style:italic;border:1px solid green;">
									<h4 class="panel-title"style="margin-left:80px;"><a href="{% url 'messages' request.user.username %}">Messages</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading"style="font-style:italic;border:1px solid green;">
									<h4 class="panel-title"style="margin-left:80px;"><a href="{% url 'logout' %}">Logout</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					</div>
				</div>

<!--                {% for object in object_list %}-->
<!--                <p>{{object.name}}</p>-->
<!--                {% endfor %}-->
<div class="col-md-9">
<p class="lead text-center"> Messages From Interested Client</p>
	<hr>
				<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Client Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
      <th scope="col">Time</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <th scope="row">{{object.name}}</th>
      <td>{{object.phone}}</td>
      <td>{{object.email}}</td>
      <td>{{object.message}}</td>
      <td>{{object.time}}</td>
      <td ><button  type="button" class="btn btn-danger" onclick="myFunction() ">Delete</button></td>
    </tr>

<!--  delete confirm dialogue-->
  <script>
function myFunction() {
  var txt;
  if (confirm("Do you want to delete!")) {
   window.location.href = "{% url 'message_delete' pk=object.pk %}";
  } else {
  //don't do anything
  }

}
</script>
  {% endfor %}

  </tbody>
</table>
</div>
			</div>
		</div>
	</section>




{% endblock body %}